 
<h1 class="black"> MPANGA!</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" aria-expanded="false">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 style="color:blue">About Mpanga</h4>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Mpanga is an online advertising business for any products that can be posted by any consumer who have an account and the site allow the interaction between the Buyer and Seller. On site, a seller can create an account, then post pictures of his products or services his/she provides then a customer can view the product or service so buyer can call the seller or he can order for the product. 
Mpanga is 100 % owned by Kim parfait and Erick kiro. It was found in March 11, 2016 when the co-founder Kim started creating the site in his home. But few months earlier the idea of the site started in discussion between the co-founder.
Currently Mpanga Is located in Uganda , Kampala but as it’s a site which can located anywhere.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 style="color:blue"> Mission and Vision </h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      VISION:
      <br>
        Our vision is to develop technologies that make word a better place and connect buyers and sellers together.
        <Br>
        MISSION:
        <br> 
        Our mission is to provide a quality online marketplace where practically anyone can trade practically anything, enabling economic opportunity around local town.

        Core values 
Mobile 
We pioneer new ways for consumers to shop and sellers to advertise from any connected devise 
Innovation 
We drive technology advancements that will deliver the next generation of commerce 
Security.
Provide our users with a secure platform that is trustful for their personal data and for business transaction. 
Consumer experience 
We empower consumers to buy and sell anything, anytime and anywhere 

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <h4 style="color:blue"> How it works ? </h4>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="">
      <div class="panel-body">
        
        Sign in and then login in 
        after creating an acount , you can now add an ad as many you want 
        and also you can view ads in your region and select category of ads 
        then you can contact the owner or order product directly from the site 
      </div>
    </div>
  </div>
</div>
