


<div class="center">


</div>


 
    <% @posts.each do |post| %>

    <div class='col-xs-3 topics text-center'>
      
    <h8 class: "link1"  style="color:white" ><%=link_to post.title,post  %> </h8><BR>

   
    
     
    </div>
	</div>
   
    <% end %>
 

<br>
<div class="pagination">
<% unless @posts.empty? %>

<nav class"navbar-fixed-bottom">
  <ul class="pager">
    <li class="previous " <%= will_paginate @posts %> <span aria-hidden="true">&larr;
   
  </ul>
</nav>
<% end %>

</div>

